a:hover {
	color: #cc0000;
	font-weight: bold;
	text-decoration: none;
}

body{
  width: 900px;
}
#box1 {
  height: 300px;
  width: 300px;
  margin: 10px;
  background: yellow;
}
#box2 {
  height: 300px;
  width: 300px;
  margin: 10px;
  background: red;
}
#box3 {
  height: 300px;
  width: 300px;
  margin: 10px;
  background: orange;
}
#box4 {
  height: 300px;
  width: 300px;
  margin: 10px;
  background: blue;
}
/*clearfix*/
footer {
  height: 100px;
  width: 200px;
  margin: 10px;
  /*clear: both;*/
}
